.head{
    background-color: rgb(216, 125, 125);

    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
.middle{
    
    background-color: rgb(21, 179, 92);

    display: flex;
}
.sub{
    width: 350px;
    height: 300px;

}
.main{
  
    background-color: azure;
    margin: 20px;
    width: 600px;
    height: 407px;
    border: 2px solid  blue;
    border-radius: 10px;
}
.footer{
    background-color: red;
    border-radius: 3px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}