<form [formGroup]="studentForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name">
    <br>
    <label for="">Class:</label>
    <input type="number" formControlName="class">
    <br>
    <label for="">FatherName:</label>
    <input type="text" formControlName="fatherName">
    <br>
    <label for="">Email:</label>
    <input type="text" formControlName="email">
    <br>
    <label for="">Dob:</label>
    <input type="date" formControlName="dob">
    <br>
    <div formGroupName="address">
        <label for="">addressLine:</label>
        <input type="text" formControlName="addressLine">
        <br>
        <label for="">City:</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">State:</label>
        <input type="text" formControlName="state">
        <br>
        <label for="">Pin:</label>
        <input type="text" formControlName="pincode">
    
    </div>
    <br>
    </form>