<p>bankaccounts works!</p>
<input type="text" [(ngModel)]="term" (keyup)="filter()">
<select [(ngModel)]="column">
    <option>Available Balance</option>
    <option>Account Number</option>
    <option>City</option>

</select>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>dsc</option>
    <!-- <option value="asc">Ascending</option>
    <option value="desc">Descending</option> -->
</select>
<button (click)="sort()">sort</button>
<!-- pagination -->
<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>50</option>

 </select>
 <select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>

 </select>
 <button (click)="pagination()">pagination</button>

<table>
    <thead border ="5" class="table table-dark">
        <th>S.No</th>
        <th>Account Name</th>
        <th>Available Balance</th>
        <th>Account Number</th>
        <th>City</th>
        <th>Profile Picture</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts,let i=index">
            <td>{{i+1}}</td>
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.city}}</td>
            <td>
                <img src="{{account.profie_picture}}" alt="" width="100px"></td>
                <td><button class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>