<form [formGroup]="userForm">
<label for="">Name:</label>
<input type="text" formControlName="name">
<div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
    <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
    <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Minimum 3 characters</p>
    <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Max 10 characters</p>

</div>

<br>
<label for="">Age:</label>
<input type="text" formControlName="age">
<div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
    <p class="error" *ngIf="userForm.get('age')?.errors?.['required']">Name is required</p>
    <p class="error" *ngIf="userForm.get('age')?.errors?.['minlength']">Minimum 3 characters</p>
    <p class="error" *ngIf="userForm.get('age')?.errors?.['maxlength']">Max 10 characters</p>

</div>
<br>
<label for="">Email:</label>
<input type="text" formControlName="email">
<div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
    <p class="error" *ngIf="userForm.get('email')?.errors?.['required']">email is required</p>
    <p class="error" *ngIf="userForm.get('email')?.errors?.['email']">Invalid email format</p>

</div>
<br>
<label for="">Phone:</label>
<input type="number" formControlName="phone">
<br>
<div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
    <p class="error" *ngIf="userForm.get('phone')?.errors?.['required']">phone is required</p>
    <p class="error" *ngIf="userForm.get('phone')?.errors?.['min']">Minimum 10 digits</p>
    <p class="error" *ngIf="userForm.get('phone')?.errors?.['max']">Max 10 digits</p>

</div>
<div formGroupName="address">
    <label for="">City:</label>
    <input type="text" formControlName="city">
    <div *ngIf="userForm.get('address')?.get('city')?.touched && userForm.get('address')?.get('city')?.invalid">
        <p class="error" *ngIf="userForm.get('address')?.get('city')?.errors?.['required']">city is required</p>
    <br>
    <label for="">Pin:</label>
    <input type="text" formControlName="pin">
<br>
</div>
</div>
<label for="">Type:</label>
<input type="radio" name="type" formControlName="type" value="dayScholar">
<label for="">DayScholar:</label> 
<input type="radio" name="type" formControlName="type" value="residential">
<label for="">Residential:</label> 
<br>
<div *ngIf="userForm.get('type')?.value=='dayScholar'">
<label for="">Bus Fee:</label> 
<input type="number" formControlName="busFee">
<br>
</div>
<div *ngIf="userForm.get('type')?.value=='residential'">

<label for="">Hostel Fee:</label> 
<input type="number" formControlName="hostelFee">
<br>
</div>
<label for="">Cards:</label>
<button (click)="addCard()">Add Card</button>
<br><br>
<div formArrayName="cards">
    <div *ngFor="let card of cardsFormArray.controls;let i=index">
        <div formGroupName="{{i}}">

            <h2>Card {{i+1}}</h2>
            <label for="">Number:</label>
            <input type="number" formControlName="number">
            <div *ngIf="cardsFormArray.controls[i]?.get('number')?.touched && cardsFormArray.controls[i]?.get('number')?.invalid">
                <p class="error" *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['required']">Number is required</p>

            </div>
            <br>
            <label for="">Expiry:</label>
            <input type="month" formControlName="expiry">
            <br>
            <label for="">CVV:</label>
            <input type="number" formControlName="cvv">
            <br> 
            <button class="btn btn-danger" (click)="deleteCard(i)">delete</button>
            <hr>
        </div>
    </div>
</div>

<button (click)="submit()">submit</button>
</form>