<!-- <p>rating works!</p> -->
<div>
<img src="/assets/5star.jpg" *ngIf="rating<=5 && rating >4" alt="" width="80px" height="40px" >
<img src="/assets/4star.jpg" *ngIf="rating<=4 && rating >3" alt="" width="80px" height="40px" >
<img src="/assets/3star.jpg" *ngIf="rating<=3 && rating >2" alt="" width="80px" height="40px" >
<img src="/assets/2star.jpg" *ngIf="rating<=2 && rating >1" alt="" width="80px" height="40px" >
<img src="/assets/1star.jpg" *ngIf="rating<=1 && rating >0" alt="" width="80px" height="40px" >
</div>


