<div class="parent">
    <div class="left">
        <h1>My website</h1>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="welcome">welcome</h3>
        <h3 routerLink="data-binding">Data Binding</h3>
        <h3 routerLink="directives">directives</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">circle</h3>
        <h3 routerLink="bmi">BMI</h3>
        <h3 routerLink="eventregistration">Event Registration</h3>
        <h3 routerLink="registration">Registration</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="store">store</h3>
        <h3 routerLink="bankaccount">bankaccount</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="mails">Mails</h3>
        <h3 routerLink="pinterest">Pinterest</h3>
        <h3 routerLink="weather">Weather</h3>
        <h3 routerLink="blog">Blog</h3>
        <h3 routerLink="imdb">imdb</h3>
        <h3 routerLink="carousel">Carousel</h3>
        <h3 routerLink="createvehicle">Create-Vehicle</h3>
        <h3 routerLink="createaccounts">Create-accounts</h3>
        <h3 routerLink="studentid">Studentid</h3>
        <h3 routerLink="createstudentid">Create-studentid</h3>
        <h3 routerLink="userprofile">User-profile</h3>
        <h3 routerLink="createuser">Create-user</h3>
        <h3 routerLink="studentform">Student-form</h3>
        <h3 routerLink="parent">parent</h3>
        <h3 routerLink="sibling">sibling</h3>

        <!-- <button routerLink="/login">logout</button> -->
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>


