<form [formGroup]="AccountsForm">
    <label for="">Account_name:</label>
    <input type="text" formControlName="account_name">
    <br>
    <label for="">Available_balance:</label>
    <input type="text" formControlName="available_balance">
    <br>
    <label for="">Account_number:</label>
    <input type="text" formControlName="account_number">
    <br>
    <label for="">City:</label>
    <input type="text" formControlName="city">
    <br>
    <label for="">Profile_picture:</label>
    <input type="text" formControlName="profile_picture">
    <br>

    
</form>
<button (click)="submit()">Submit</button>

    



